<div class="contenedor">
    <app-unidades-tarjeta [unidad]="unidad" *ngIf="unidad" />

    <app-proyectos-tarjeta
        [proyecto]="proyecto"
        [descripcionVisible]="false"
        *ngIf="proyecto" />
    <div class="titulo" *ngIf="proyecto">Líderes de proyecto</div>

    <app-permisos-buscador-mini
        *ngIf="proyecto"
        class="lideres"
        [tipoUsuario]="permisosType.lider" />
    <app-permisos-buscador-mini
        *ngIf="unidad"
        class="coordinadores"
        [tipoUsuario]="permisosType.coordinador" />
</div>
