<div class="fila">
    <div class="usuario">
        <img
            class="usuario-imagen"
            [src]="editor.imagen"
            alt="Imagen de usuario" />
        <div class="nombre">
            {{ editor.primer_nombre + ' ' + editor.segundo_nombre }}
        </div>
    </div>
    <div class="derecha">
        <span
            class="remove-icon"
            nz-icon
            nzType="minus-circle"
            nzTheme="outline"
            (click)="deleteClick()"
            *ngIf="!showDeleteConfirmation">
        </span>
        <span
            class="add-icon"
            nz-icon
            nzType="right-circle"
            nzTheme="outline"
            (click)="deleteClick()"
            *ngIf="showDeleteConfirmation">
        </span>
        <div
            class="confirmation"
            [class.confirmado]="showDeleteConfirmation"
            (click)="confirmDelete()">
            <span [class]="showDeleteConfirmation ? '' : 'borrar-vacio'"
                >Borrar</span
            >
        </div>
    </div>
</div>
