<div class="contenedor">
    <app-unidad [unidad]="unidad" *ngIf="unidad" />
    <div class="titulo" *ngIf="unidad">Coordinadores de unidad</div>

    <app-proyecto
        [proyecto]="proyecto"
        [descripcion]="false"
        *ngIf="proyecto" />
    <div class="titulo" *ngIf="proyecto">Líderes de proyecto</div>

    <div class="subtitulo">
        <div *ngIf="unidad">Agregar coordinador</div>
        <div *ngIf="proyecto">Agregar líder</div>
        <span
            nz-popover
            nz-icon
            [nzPopoverContent]="contentTemplate"
            nzPopoverTrigger="click"
            nzPopoverPlacement="bottomLeft"
            nzType="plus-circle"
            nzTheme="fill">
        </span>
    </div>
    <app-mini-coordinador
        *ngFor="let coordinador of coordinadores"
        [coordinador]="coordinador"
        (removeItemClick)="onRemoveItemClick($event)" />
</div>

<ng-template #contentTemplate> Buscador sisisi </ng-template>
