<div class="titulo">
    <span nz-icon nzType="warning" nzTheme="fill" class="warning-icon"></span>
    ¿Estas seguro de que deseas borrarlo?
</div>

<div class="descripcion">
    Esto va a borrar todo el proyecto incluyendo sus archivos y versiones, si se
    acabó el proyecto se recomienda archivarlo para mantener el historial. Si
    estás seguro que quieres borrarlo, por favor reescribe el nombre del
    proyecto
    <strong>{{ proyecto.nombre }}</strong
    >.
</div>

<input
    nz-input
    placeholder="Nombre del proyecto"
    [(ngModel)]="value"
    type="text"
    class="inputNombre" />

<div class="botones">
    <button class="boton-cancelar" nz-button (click)="handleCancel()">
        Cancelar
    </button>

    <button
        class="boton-borrar"
        nz-button
        (click)="handleOk()"
        [nzLoading]="isConfirmLoading"
        [disabled]="value !== proyecto.nombre || isConfirmLoading">
        Borrar
    </button>
</div>
