<div class="card">
    <div
        class="image-container"
        [ngStyle]="{
            'background-image': 'url(' + proyecto.imagen + ')',
            'border-color': proyecto.color
        }"
        style="position: relative">
        <div
            [ngStyle]="{
                position: 'absolute',
                top: '0',
                left: '0',
                width: '100%',
                height: '100%',
                'background-color': proyecto.color,
                opacity: '0.5',
                'border-radius': '10px'
            }">
            <div class="options-button">
                <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                    <span nz-icon nzType="more" nzTheme="outline"></span>
                </a>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                        <li nz-menu-item (click)="showActualizarModal()">
                            Editar
                            <span
                                class="icono-opcion"
                                nz-icon
                                nzType="edit"></span>
                        </li>
                        <li
                            nz-menu-item
                            (click)="
                                proyecto.activo
                                    ? showArchivarModal()
                                    : showActivarModal()
                            ">
                            {{ proyecto.activo ? 'Archivar' : 'Activar' }}
                            <span
                                class="icono-opcion"
                                nz-icon
                                nzType="folder-open"></span>
                        </li>
                        <li nz-menu-item>
                            Permisos
                            <span
                                class="icono-opcion"
                                nz-icon
                                nzType="unlock"></span>
                        </li>
                        <li nz-menu-item nzDanger (click)="showBorrarModal()">
                            Borrar
                            <span
                                class="icono-opcion icono-borrar"
                                nz-icon
                                nzType="delete"></span>
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </div>
        </div>
    </div>
    <a href="/proyectos/{{ proyecto.id }}/unidades">
        <div class="name-label" [ngStyle]="{ color: proyecto.color }">
            {{ proyecto.nombre }}
        </div>
    </a>
    <div class="description">
        {{ proyecto.descripcion }}
    </div>
</div>

<nz-modal
    class="modal-borrar"
    [(nzVisible)]="borrarVisible"
    [nzContent]="modalBorrarContent"
    [nzFooter]="null"
    (nzOnCancel)="handleCancel()"
    [nzClosable]="false">
    <ng-template #modalBorrarContent>
        <app-modal-borrar-input
            [loading]="isLoading"
            [entrada]="textoBorrarProyecto"
            [nombre]="proyecto.nombre"
            (okModal)="handleDelete($event)"
            (cancelModal)="handleCancel()" />
    </ng-template>
</nz-modal>

<nz-modal
    [(nzVisible)]="archivarVisible"
    [nzContent]="modalArchivarContent"
    [nzFooter]="null"
    (nzOnCancel)="handleCancel()"
    [nzClosable]="false">
    <ng-template #modalArchivarContent>
        <app-modal-generico
            [loading]="isLoading"
            [entrada]="textoArchivarProyecto"
            (okModal)="handleArchivar($event)"
            (cancelModal)="handleCancel()" />
    </ng-template>
</nz-modal>

<nz-modal
    [(nzVisible)]="activarVisible"
    [nzContent]="modalActivarContent"
    [nzFooter]="null"
    (nzOnCancel)="handleCancel()"
    [nzClosable]="false">
    <ng-template #modalActivarContent>
        <app-modal-generico
            [loading]="isLoading"
            [entrada]="textoActivarProyecto"
            (okModal)="handleActivar($event)"
            (cancelModal)="handleCancel()" />
    </ng-template>
</nz-modal>

<nz-modal
    [(nzVisible)]="actualizarVisible"
    [nzContent]="modalActualizarContent"
    [nzFooter]="null"
    [nzClosable]="false"
    (nzOnCancel)="handleCancel()"
    [nzWidth]="1380">
    <ng-template #modalActualizarContent>
        <app-modal-crear-proyecto
            [loading]="isLoading"
            (cancelModal)="handleCancel()"
            (actualizarProyectoImportado)="
                handleActualizar($event.proyecto, $event.funcion)
            "
            [proyectoOriginal]="proyecto" />
    </ng-template>
</nz-modal>
