.card {
    width: 350px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    background-color: var(--blanco);
    z-index: 0;
}

.image-container {
    height: 200px;
    width: 350px;
}

::ng-deep .ant-skeleton.ant-skeleton-active .ant-skeleton-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

::ng-deep .ant-skeleton-element .ant-skeleton-image-svg {
    width: auto;
    height: 150px;
    line-height: 60px;
    max-width: 250px;
    max-height: 350px;
}

.texto {
    padding: 10px 20px;
}
