/* General */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.file-card {
    width: 100%;
    border-top: 1px solid var(--bordes);
    padding: 10px 0;
}

.ant-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.texto {
    padding-left: 15px;
    color: var(--negro);
}

.icono-opcion {
    margin-right: 8px;
}

.detalles {
    color: var(--negro);
}

.columna-icono {
    justify-content: center;
    padding: 0;
}

.icono-opcion {
    margin-right: 8px;
}

.icono-borrar {
    color: var(--rojoLogin);
}

.ant-dropdown-menu-item-danger:hover .icono-borrar {
    color: var(--blanco);
    transition: all 0.3s;
}

/* Carpeta */

.archivo-icono {
    font-size: 40px;
    padding-left: 15px;
}

.columna-icono {
    justify-content: center;
    padding: 0;
}

/* Responsividad */

@media (max-width: 1048px) {
    .hide-on-small-1 {
        display: none;
    }
}

@media (max-width: 820px) {
    .hide-on-small-2 {
        display: none;
    }
}
