<nz-header nz-row>
    <div nz-col nzSpan="1" class="logo"></div>
    <nz-input-group nz-col nzSpan="3" [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="input search text" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
        <span nz-icon nzType="search" class="header-icon"></span>
    </ng-template>
    <div class="derecha">
        <span
            nz-icon
            nzType="bell"
            nzTheme="outline"
            class="header-icon"></span>
        <div
            class="usuario-icono-container"
            nz-dropdown
            [nzDropdownMenu]="menu">
            <span class="usuario-icono" nz-icon nzType="user"></span>
        </div>
    </div>

    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
            <li nz-menu-item>
                Editar perfil
                <span
                    nz-icon
                    nzType="edit"
                    nzTheme="outline"
                    class="icono-opcion"></span>
            </li>
            <li nz-menu-item nzDanger>
                Cerrar sesión
                <span
                    nz-icon
                    nzType="logout"
                    nzTheme="outline"
                    class="icono-opcion"></span>
            </li>
        </ul>
    </nz-dropdown-menu>
</nz-header>
