<nz-layout class="whole-layout">
  <app-header></app-header>
  <nz-layout>
    <nz-sider nzWidth="300px" nzTheme="light" nzCollapsible>
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li class="submenu-nav" nz-submenu nzOpen nzIcon="star" nzTheme="fill" ng-reflect-nz-theme="fill" nzTitle="Favoritos">
          <ul>
            <li nz-menu-item nzSelected>Finanzas 2022</li>
            <li nz-menu-item>PR. VR2-2021</li>
            <li nz-menu-item>Electronica de luces</li>
            <li nz-menu-item>Presupuesto de 2024</li>
          </ul>
        </li>
        <li class="submenu-nav" nz-submenu nzTitle="Recientes" nzIcon="history">
          <ul>
            <li nz-menu-item>option5</li>
            <li nz-menu-item>option6</li>
            <li nz-menu-item>option7</li>
            <li nz-menu-item>option8</li>
          </ul>
        </li>
        <li class="submenu-nav" nz-submenu nzTitle="Personas" nzIcon="user">
          <ul>
            <li nz-menu-item>option9</li>
            <li nz-menu-item>option10</li>
            <li nz-menu-item>option11</li>
            <li nz-menu-item>option12</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-content>Todo funcionó</nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>