.ant-layout-sider {
  overflow: auto;
}

.inner-layout {
  padding: 24px;
}

.whole-layout {
  height: 100%;
}

nz-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.submenu-nav {
  max-width: 99%;
}