.logo {
  width: 120px;
  height: 31px;
  background: #818181;
  margin: 16px 30px 16px 30px;
  float: left;
}

.ant-layout-header {
  padding: 0;
  line-height: 64px;
  background: #ffff;
}

.ant-layout-sider {
  overflow: auto;
}

.inner-layout {
  padding: 24px;
}

.whole-layout {
  height: 100%;
}

nz-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.submenu-nav {
  max-width: 99%;
}