.body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F7FAFF;
}
  
.tarjeta {
    width: 80%;
    max-width: 90%; 
    margin: 5%;
    padding: 10px;
    background-color: #F7FAFF;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
}

.container {
    display: flex;
    height: 100%;
}

.left, .right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.bottom-section {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }

  
button {
    padding: 5px 60px; 
    margin: 5px ;
    border: 2px solid #FF4D4F; 
    border-radius: 10px; 
    background-color: #fff; 
    color: #FF4D4F; 
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #FF4D4F;
    color: #F7FAFF; 
  }
  
  .right .buscador {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #C5CDD1;
    border-radius: 5px;
    font-size: 14px;
    color: #C5CDD1;
}

.fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cuadro {
    width: 30px;
    height: 30px;
    border: 1px solid #070809;
}

.seleccionado {
    border-width: 5px;
    border-style: double;
    border-color: #070809 #F7FAFF;
}

.texto-color {
    font-size: 16px; 
    color: #595959; 
    margin: 5px 0; 
}

.left img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    border: 2px solid #C5CDD1;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}