.body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7faff;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: #f7faff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.container {
    display: flex;
    flex-grow: 1;
}

.left {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.right {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.right input,
.right textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #c5cdd1;
    border-radius: 5px;
    font-size: 16px;
}

.colores {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.cuadro {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid #070809;
    border-radius: 5px;
    cursor: pointer;
}

.seleccionado {
    border: 3px solid #070809;
}

.bottom-section {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--rojoLogin);
    color: var(--blanco);
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: var(--blanco);
    color: var(--rojoLogin);
    border: 2px solid var(--rojoLogin);
}

.texto-indicador {
    margin-top: 20px;
    margin-bottom: 5px;
}

/* Media queries para responsivo */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left,
    .right {
        flex: none;
        width: 100%;
        padding: 10px;
    }
}
