<div class="tarjeta" [formGroup]="proyectoForm">
    <div class="container">
        <div class="left" (click)="fileInput.click()">
            <input
                type="file"
                #fileInput
                (change)="onFileSelected($event)"
                hidden />
            <div
                *ngIf="!imagenURL; else imagenPreview"
                class="image-upload-placeholder">
                Clic para añadir imagen
            </div>
            <ng-template #imagenPreview>
                <div class="image-container">
                    <div
                        class="image-overlay"
                        [style.background-color]="colorSeleccionado"
                        [style.opacity]="0.5"></div>
                    <img [src]="imagenURL" alt="Vista previa de la imagen" />
                </div>
            </ng-template>
        </div>

        <div class="right">
            <div class="campo">
                <p class="texto-indicador">
                    Escribe un nombre para el proyecto
                </p>
                <input
                    type="text"
                    class="buscador"
                    placeholder="Nombre del proyecto"
                    formControlName="nombreProyecto" />
            </div>

            <div class="campo">
                <p class="texto-indicador">Selecciona el color</p>
                <div class="colores">
                    <div
                        *ngFor="let opcionColor of colores"
                        nzSpan="2"
                        class="cuadro"
                        [class.seleccionado]="colorSeleccionado === opcionColor"
                        (click)="seleccionarColor(opcionColor)"
                        [style.background-color]="opcionColor"></div>
                </div>
            </div>

            <div class="campo">
                <p class="texto-indicador">Añade una descripción</p>
                <textarea
                    formControlName="descripcion"
                    rows="4"
                    cols="50"></textarea>
            </div>
        </div>
    </div>

    <div class="bottom-section">
        <button type="button" (click)="validarDatos()">Crear proyecto</button>
    </div>
</div>
