<div class="tarjeta" [formGroup]="proyectoForm">
    <div class="container">
        <div class="left" (click)="fileInput.click()">
            <input
                type="file"
                #fileInput
                (change)="onFileSelected($event)"
                hidden />
            <div
                *ngIf="!imagenURL; else imagenPreview"
                class="image-upload-placeholder">
                Clic para añadir imagen
            </div>
            <ng-template #imagenPreview>
                <div class="image-container">
                    <div
                        class="image-overlay"
                        [style.background-color]="color"
                        [style.opacity]="0.5"></div>
                    <img [src]="imagenURL" alt="Vista previa de la imagen" />
                </div>
            </ng-template>
        </div>

        <div class="right">
            <div class="campo">
                <p class="texto-indicador">
                    Escribe un nombre para el proyecto
                </p>
                <input
                    type="text"
                    class="buscador"
                    placeholder="Nombre del proyecto"
                    formControlName="nombreProyecto" />
                <div
                    *ngIf="
                        proyectoForm.controls['nombreProyecto'].invalid &&
                        proyectoForm.controls['nombreProyecto'].touched
                    "
                    class="error-message">
                    <small
                        *ngIf="
                            proyectoForm.controls['nombreProyecto'].errors?.[
                                'required'
                            ]
                        "
                        >El nombre del proyecto es requerido.</small
                    >
                    <small
                        *ngIf="
                            proyectoForm.controls['nombreProyecto'].errors?.[
                                'maxlength'
                            ]
                        "
                        >El nombre no puede exceder los 20 caracteres.</small
                    >
                </div>
            </div>

            <div class="campo">
                <p class="texto-indicador">Selecciona el color</p>
                <input
                    [colorPicker]="color"
                    (colorPickerChange)="
                        color = $event;
                        proyectoForm.controls['color'].setValue($event)
                    "
                    [style.background]="color"
                    [cpOutputFormat]="'hex'"
                    [cpPresetColors]="colores"
                    class="color-picker-input"
                    formControlName="color" />
            </div>

            <div class="campo">
                <p class="texto-indicador">Añade una descripción</p>
                <textarea
                    formControlName="descripcion"
                    rows="4"
                    cols="50"></textarea>
                <div
                    *ngIf="
                        proyectoForm.controls['descripcion'].invalid &&
                        proyectoForm.controls['descripcion'].touched
                    "
                    class="error-message">
                    <small
                        *ngIf="
                            proyectoForm.controls['descripcion'].errors?.[
                                'required'
                            ]
                        "
                        >La descripción es requerida.</small
                    >
                    <small
                        *ngIf="
                            proyectoForm.controls['descripcion'].errors?.[
                                'maxlength'
                            ]
                        "
                        >La descripción no puede exceder los 300
                        caracteres.</small
                    >
                </div>
            </div>
        </div>
    </div>

    <button type="button" (click)="validarDatos()">
        {{ modo === 'editar' ? 'Editar proyecto' : 'Crear proyecto' }}
    </button>
</div>
