<div class="titulo">
    <h1>Proyectos</h1>
    <nz-segmented
        class="activo"
        [nzOptions]="['Activos', 'Archivados']"
        (nzValueChange)="handleActivoChange($event)" />
</div>

<nz-flex
    class="grid-container"
    *ngIf="!(proyectosVacios && !(!archivado && permisoParaAgregar))">
    <ng-container *ngIf="esqueleto">
        <app-proyectos-tarjeta-esqueleto />
        <app-proyectos-tarjeta-esqueleto />
        <app-proyectos-tarjeta-esqueleto />
        <app-proyectos-tarjeta-esqueleto />
    </ng-container>
    <app-proyectos-tarjeta
        *ngFor="
            let proyecto of !archivado ? proyectosActivos : proyectosInactivos
        "
        [proyecto]="proyecto"
        (eliminarProyectoImportado)="borrarProyecto($event)"
        (actualizarProyectoImportado)="actualizarProyecto($event)"
        (archivarProyectoImportado)="archivarProyecto($event)"
        (activarProyectoImportado)="activarProyecto($event)" />
    <app-proyectos-crear-tarjeta
        *ngIf="!esqueleto && !archivado && permisoParaAgregar"
        (crearProyectoImportado)="crearProyecto($event)" />
</nz-flex>

<app-vacio-contenido
    [mensaje]="'No hay proyectos'"
    *ngIf="proyectosVacios && !(!archivado && permisoParaAgregar)" />
