<h1>Proyectos</h1>

<nz-flex class="grid-container">
    <ng-container *ngIf="esqueleto">
        <app-proyectos-tarjeta-esqueleto
            *ngFor="let i of numbers"></app-proyectos-tarjeta-esqueleto>
    </ng-container>
    <app-proyectos-tarjeta
        *ngFor="let proyecto of proyectos"
        [proyecto]="proyecto"
        (eliminarProyecto)="borrarProyecto($event)"
        (actualizarProyecto)="actualizarProyecto($event)" />
    <app-proyectos-crear-tarjeta
        *ngIf="!esqueleto"
        (crearProyectoImportado)="crearProyecto($event)" />
</nz-flex>
