<div class="titulo">
    <h1>Proyectos</h1>
    <nz-segmented
        class="activo"
        [nzOptions]="['Activos', 'Archivados']"
        (nzValueChange)="cambioActivo($event)" />
</div>

<nz-flex class="grid-container" *ngIf="!vacio">
    <ng-container *ngIf="cargando">
        <app-proyectos-tarjeta-esqueleto />
        <app-proyectos-tarjeta-esqueleto />
        <app-proyectos-tarjeta-esqueleto />
        <app-proyectos-tarjeta-esqueleto />
    </ng-container>
    <app-proyectos-tarjeta
        *ngFor="
            let proyecto of !archivado ? proyectosActivos : proyectosArchivados
        "
        [proyecto]="proyecto"
        (eliminarProyectoImportado)="borrarProyecto($event)"
        (actualizarProyectoImportado)="actualizarProyecto($event)"
        (archivarProyectoImportado)="archivarProyecto($event)"
        (activarProyectoImportado)="activarProyecto($event)" />
    <app-proyectos-crear-tarjeta
        *ngIf="!cargando && !archivado && permisoParaAgregar"
        (crearProyectoImportado)="crearProyecto($event)" />
</nz-flex>

<app-micelaneos-contenido-vacio [mensaje]="'No hay proyectos'" *ngIf="vacio" />
