<div class="tarjeta">
    <div class="container">

        <div class="left">
            <img src="../../../../../../assets/images/Ejemplos_tarjeta/FSAE_Ejemplo.jpg" alt="Archivo Pre_cargado" />
            <input type="text" class="buscador" placeholder="Buscar etiquetas">
        </div>

        <div class="right">
            <div class="label-input-container">
                <label for="agregar">Agregar:</label>
                <input type="text" id="agregar" name="agregar">
            </div>
            <div class="label-input-container">
                <label for="nombre_archivo">Nombre del archivo:</label>
                <input type="text" id="nombre_archivo" name="nombre_archivo">
            </div>
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="4"></textarea> <br>
            <button class="subir-btn" (click)="validarDatos()">Subir archivo</button>

        </div>
    </div>

    <div class="bottom-section">    
        <button>Cancelar</button>
        <button>Guardar archivo</button>
    </div>
</div>


