<div class="titulo">
    <span nz-icon nzType="warning" nzTheme="fill" class="warning-icon"></span>
    <div>{{ entrada.pregunta }}</div>
</div>

<div class="descripcion">
    {{ entrada.descripcion }}
    <strong>{{ nombre }}</strong
    >.
</div>

<input
    nz-input
    [placeholder]="entrada.placeholder"
    [(ngModel)]="value"
    type="text"
    class="inputNombre" />

<div class="botones">
    <button class="boton-cancelar" nz-button (click)="handleCancel()">
        Cancelar
    </button>

    <button
        class="boton-borrar"
        nz-button
        (click)="handleOk()"
        [nzLoading]="isLoading"
        [disabled]="value !== nombre || isLoading">
        Borrar
    </button>
</div>
