.card {
    width: 280px;
    height: 230px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    background-color: var(--blanco);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    width: 280px;
    height: 180px;
}

::ng-deep .ant-skeleton.ant-skeleton-active .ant-skeleton-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

::ng-deep .ant-skeleton-element .ant-skeleton-image-svg {
    width: auto;
    height: 120px;
    line-height: 40px;
    max-width: 250px;
    max-height: 350px;
}

.texto {
    width: 200px;
    padding: 10px 20px;
}

::ng-deep .ant-skeleton-input {
    border-radius: 25px;
}
