<div class="tarjeta">
    <div class="container">
        <div class="left">
            <img
                src="../../../../../../../assets/images/unidades_props/bateria_temporal_prop.png"
                alt="Imagen para el proyecto" />
        </div>

        <div class="right">
            <p class="texto-color">Escribe un nombre para la Unidad</p>
            <input
                type="text"
                class="buscador"
                placeholder="Nombre de la unidad" />
            <p class="texto-color">Selecciona el color</p>
            <div class="fila">
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#4D69FF'"
                    (click)="seleccionarColor('#4D69FF')"
                    style="background-color: #4d69ff"></div>
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#1499B5'"
                    (click)="seleccionarColor('#1499B5')"
                    style="background-color: #1499b5"></div>
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#4DFFF4'"
                    (click)="seleccionarColor('#4DFFF4')"
                    style="background-color: #4dfff4"></div>
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#CD2F2F'"
                    (click)="seleccionarColor('#CD2F2F')"
                    style="background-color: #cd2f2f"></div>
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#FF2F2F'"
                    (click)="seleccionarColor('#FF2F2F')"
                    style="background-color: #ff2f2f"></div>
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#FF4D4F'"
                    (click)="seleccionarColor('#FF4D4F')"
                    style="background-color: #ff4d4f"></div>
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#7138CC'"
                    (click)="seleccionarColor('#7138CC')"
                    style="background-color: #7138cc"></div>
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#914DFF'"
                    (click)="seleccionarColor('#914DFF')"
                    style="background-color: #914dff"></div>
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#B385FF'"
                    (click)="seleccionarColor('#B385FF')"
                    style="background-color: #b385ff"></div>
            </div>
            <div class="fila">
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#17820D'"
                    (click)="seleccionarColor('#17820D')"
                    style="background-color: #17820d"></div>
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#21B514'"
                    (click)="seleccionarColor('#21B514')"
                    style="background-color: #21b514"></div>
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#75EF6A'"
                    (click)="seleccionarColor('#75EF6A')"
                    style="background-color: #75ef6a"></div>
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#FBB501'"
                    (click)="seleccionarColor('#FBB501')"
                    style="background-color: #fbb501"></div>
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#FFCD4D'"
                    (click)="seleccionarColor('#FFCD4D')"
                    style="background-color: #ffcd4d"></div>
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#FFE298'"
                    (click)="seleccionarColor('#FFE298')"
                    style="background-color: #ffe298"></div>
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#D000AF'"
                    (click)="seleccionarColor('#D000AF')"
                    style="background-color: #d000af"></div>
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#FF4DE3'"
                    (click)="seleccionarColor('#FF4DE3')"
                    style="background-color: #ff4de3"></div>
                <div
                    class="cuadro"
                    [class.seleccionado]="colorSeleccionado === '#FF95EE'"
                    (click)="seleccionarColor('#FF95EE')"
                    style="background-color: #ff95ee"></div>
            </div>
        </div>
    </div>

    <div class="bottom-section">
        <button>Cancelar</button>
        <button (click)="validarDatos()">Crear unidad</button>
    </div>
</div>
