.fila {
    width: 100%;
    border-bottom: var(--bordes) solid 1px;
    margin-top: -1px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usuario {
    display: flex;
    align-items: center;
}

.usuario-imagen {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px 15px;
}

.anticon {
    font-size: 1.1rem;
    margin: 0 20px;
}

.nombre {
    font-size: 1.3rem;
}

.checkMarkTrue {
    color: var(--tarjeta_verde_medio);
}

.checkMarkFalse {
    color: var(--bordes);
}
