.grid-container {
    background: var(--contentBg);
    padding: 24px;
    min-height: 90%;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
