body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f7faff;
}

.container {
    display: flex;
    height: 100%;
}

.left,
.right {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left img {
    max-width: 100%;
    max-height: 100%;
}

.right {
    display: flex;
    flex-direction: column;
}
