<div class="fila">
    <div class="confirmation" [class.confirmado]="showDeleteConfirmation">
        <span (click)="confirmDelete()">Borrar</span>
    </div>
    <span
        class="remove-icon"
        nz-icon
        nzType="minus-circle"
        nzTheme="outline"
        (click)="deleteClick()"
        *ngIf="!showDeleteConfirmation">
    </span>
    <span
        class="add-icon"
        nz-icon
        nzType="left-circle"
        nzTheme="outline"
        (click)="deleteClick()"
        *ngIf="showDeleteConfirmation">
    </span>
    <img
        class="usuario-imagen"
        [src]="coordinador.imagenUrl"
        alt="Imagen de usuario" />
    <div class="nombre">
        {{ coordinador.primer_nombre + ' ' + coordinador.segundo_nombre }}
    </div>
</div>
