.body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

.container {
    display: flex;
    flex-grow: 1;
}

.left {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.left img {
    max-width: 100%;
    max-height: 50%;
}

.right {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.right input,
.right textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #c5cdd1;
    border-radius: 5px;
    font-size: 16px;
}

nz-form-control {
    width: 100%;
}

nz-form-label {
    font-size: 16px;
    padding-bottom: 5px;
    color: var(--negro);
}

nz-form-item {
    padding-bottom: 15px;
}

.colores {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.cuadro {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid #070809;
    border-radius: 5px;
    cursor: pointer;
}

.seleccionado {
    border: 3px solid #070809;
}

.botones {
    display: flex;
    justify-content: space-between;

    margin: 0 5px;
}

.boton-cancelar {
    font-size: 1rem;
    height: auto;

    background-color: var(--blanco);
    border: 2px solid var(--rojoLogin);
    color: var(--rojoLogin);

    border-radius: 20px;
}

.boton-crear {
    font-size: 1rem;
    height: auto;

    background-color: var(--rojoLogin);
    border: 2px solid var(--rojoLogin);
    color: var(--blanco);

    border-radius: 20px;
}

.texto-indicador {
    margin-top: 20px;
    margin-bottom: 5px;
}

/* Media queries para responsivo */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left,
    .right {
        flex: none;
        width: 100%;
        padding: 10px;
    }
}
