<div [formGroup]="unidadForm">
    <div>
        <p class="texto-indicador">Nombre de la Carpeta</p>
        <input
            type="text"
            nz-input
            placeholder="Ingresa el nombre de la carpeta"
            formControlName="nombreCarpeta" />
    </div>
    <br />
    <div>
        <p class="texto-indicador">Selecciona el color</p>
        <div class="colores">
            <div
                *ngFor="let opcionColor of colores"
                class="cuadro"
                [class.seleccionado]="colorSeleccionado === opcionColor"
                (click)="seleccionarColor(opcionColor)"
                [style.background-color]="opcionColor"></div>
        </div>
    </div>
    <div style="text-align: center; margin-top: 20px">
        <button nz-button>
            {{ esModoEdicion ? 'Editar Carpeta' : 'Crear Carpeta' }}
        </button>
    </div>
</div>
