.tarjeta {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--blanco);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.texto-indicador {
    margin-bottom: 10px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.colores {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.cuadro {
    width: 45px;
    height: 45px;
    margin: 2px;
    border: 1px solid #070809;
    border-radius: 5px;
    cursor: pointer;
}

.cuadro.seleccionado {
    border: 2px solid #000;
}

button {
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--rojoLogin);
    color: var(--blanco);
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: var(--rojoLogin);
    border: 2px solid var(--rojoLogin);
}
