<div class="tarjeta" [formGroup]="unidadForm">
    <div class="container">
        <div class="content">
            <div>
                <p class="texto-indicador">Nombre de la Carpeta</p>
                <input
                    type="text"
                    class="buscador"
                    placeholder="Nombre de la Carpeta"
                    formControlName="nombreCarpeta" />
                <div
                    *ngIf="
                        unidadForm.get('nombreCarpeta').invalid &&
                        (unidadForm.get('nombreCarpeta').dirty ||
                            unidadForm.get('nombreCarpeta').touched)
                    "
                    class="alerta-error">
                    <div
                        *ngIf="unidadForm.get('nombreCarpeta').errors.required">
                        El nombre de la carpeta es obligatorio.
                    </div>
                    <div
                        *ngIf="
                            unidadForm.get('nombreCarpeta').errors.maxlength
                        ">
                        El nombre de la carpeta no puede tener más de 20
                        caracteres.
                    </div>
                </div>
            </div>
            <br />
            <div>
                <p class="texto-indicador">Selecciona el color</p>
                <div class="colores">
                    <div
                        *ngFor="let opcionColor of colores"
                        nzSpan="2"
                        class="cuadro"
                        [class.seleccionado]="colorSeleccionado === opcionColor"
                        (click)="seleccionarColor(opcionColor)"
                        [style.background-color]="opcionColor"></div>
                </div>
            </div>
        </div>
    </div>
    <button (click)="crearCarpeta()">Crear Carpeta</button>
</div>
