.card {
    width: 350px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    background-color: var(--blanco);
    z-index: 0;
}

.card-resumida {
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    background-color: var(--blanco);
    z-index: 0;
}

.options-button {
    display: flex;
    justify-content: flex-end;
    margin: 2px 3px 0 0;
    font-size: 20px;
    z-index: 10;
    color: white;
}

.image-container {
    height: 200px;
    border-radius: 10px;
    border: 1px solid;
    background-size: cover;
    background-position: center;
    position: relative;
}

.name-label {
    padding-left: 20px;
    font-weight: bold;
    text-align: left;
    font-size: 25px;
}

.description {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: left;
    font-size: small;
    color: var(--negro);
}

.anticon {
    color: #595959;
}

.anticon-delete {
    color: var(--rojoLogin);
}

.ant-dropdown-menu-item:hover .anticon-delete {
    color: var(--blanco);
}

.icono-opcion {
    margin-left: 10px;
}

.icono-borrar {
    color: var(--rojoLogin);
}

.ant-dropdown-menu-item-danger:hover .icono-borrar {
    color: var(--blanco);
    transition: all 0.3s;
}
