<app-estructura-entrada-pagina>
    <div class="header">
        <div class="titulo">Registrarse en CarDrive</div>
        <div
            class="usuario-icono-container"
            [style.background-color]="registroForm.value.colorSeleccionado">
            <span class="usuario-icono" nz-icon nzType="user"></span>
        </div>
    </div>

    <form nz-form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <nz-form-item>
            <nz-form-label class="etiqueta" nzFor="nombre">
                Nombre
            </nz-form-label>
            <nz-form-control [nzErrorTip]="nombreErrorTpl">
                <input
                    nz-input
                    class="campo-texto"
                    placeholder="Nombre"
                    type="text"
                    formControlName="nombre" />
                <ng-template #nombreErrorTpl>
                    Se necesita agregar un nombre
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label class="etiqueta" nzFor="apellido">
                Apellido
            </nz-form-label>
            <nz-form-control [nzErrorTip]="apellidoErrorTpl">
                <input
                    nz-input
                    class="campo-texto"
                    placeholder="Apellido"
                    type="text"
                    formControlName="apellido" />
                <ng-template #apellidoErrorTpl>
                    Se necesita agregar un apellido
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label class="etiqueta" nzFor="correo">
                Correo
            </nz-form-label>
            <nz-form-control [nzErrorTip]="correoErrorTpl">
                <input
                    nz-input
                    class="campo-texto"
                    placeholder="Correo"
                    type="text"
                    formControlName="correo" />
                <ng-template #correoErrorTpl>
                    Se necesita agregar un correo
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label class="etiqueta" nzFor="contrasena">
                Contraseña
            </nz-form-label>
            <nz-form-control [nzErrorTip]="contrasenaErrorTpl">
                <nz-input-group [nzSuffix]="ojoIcono">
                    <input
                        nz-input
                        class="campo-texto"
                        placeholder="Contraseña"
                        [type]="passwordVisible ? 'text' : 'password'"
                        formControlName="contrasena" />
                </nz-input-group>
                <ng-template #contrasenaErrorTpl>
                    Se necesita agregar una contraseña con un mínimo de 8
                    caracteres
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label class="etiqueta" nzFor="contrasenaConfirmacion">
                Confirmar contraseña
            </nz-form-label>
            <nz-form-control [nzErrorTip]="contrasenaConfirmacionErrorTpl">
                <nz-input-group [nzSuffix]="ojoIcono">
                    <input
                        nz-input
                        class="campo-texto"
                        [type]="
                            passwordConfirmacionVisible ? 'text' : 'password'
                        "
                        placeholder="Confirmar contraseña"
                        type="text"
                        (input)="contrasenaConfirmacionOnChange()"
                        formControlName="contrasenaConfirmacion" />
                </nz-input-group>
                <ng-template #contrasenaConfirmacionErrorTpl>
                    Se necesita agregar la misma contraseña
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label class="etiqueta" nzFor="colorSeleccionado">
                Selecciona el color
            </nz-form-label>
            <div class="colores">
                <div
                    *ngFor="let opcionColor of colores"
                    nzSpan="2"
                    class="cuadro"
                    [class.seleccionado]="
                        registroForm.value.colorSeleccionado === opcionColor
                    "
                    (click)="
                        registroForm.controls.colorSeleccionado.setValue(
                            opcionColor
                        )
                    "
                    [style.background-color]="opcionColor"></div>
            </div>
        </nz-form-item>
    </form>

    <button
        class="boton-registrar"
        nz-button
        (click)="onSubmit()"
        type="submit">
        Registrar
    </button>
</app-estructura-entrada-pagina>

<ng-template #ojoIcono>
    <span
        nz-icon
        [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
        (click)="passwordVisible = !passwordVisible"></span>
</ng-template>

<ng-template #ojoIconoConfirmacion>
    <span
        nz-icon
        [nzType]="passwordConfirmacionVisible ? 'eye-invisible' : 'eye'"
        (click)="
            passwordConfirmacionVisible = !passwordConfirmacionVisible
        "></span>
</ng-template>
