.ant-layout-sider {
    overflow: auto;
    background: var(--blanco);
}
.inner-layout {
    margin: 24px;
}
.whole-layout {
    height: 100%;
}

.ant-layout {
    background: #f7faff;
    overflow: auto;
}

.sider-trigger {
    background: #f7faff;
}

.sider {
    background: #f7faff;
}
