<nz-layout class="whole-layout">
   <app-encabezado></app-encabezado>
   <nz-layout>
    <nz-sider nzWidth="300px" nzTheme="light" nzCollapsible>
        <app-sidebar></app-sidebar>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-content>
        <app-crear-unidad/> <!-- Componente de creación de unidades -->
        <!-- <app-crear_contenidos/> Componente de creación de contenidos
        <app-personas/> Componente de personas
        <app-proyectos/> Componente de proyectos
        <app-unidades/> Componente de unidades
        <app-contenidos/> Componente de contenidos 
        <app-proyecto-crear/> Compoonente para crear proyectos -->
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
