<!-- <nz-layout class="whole-layout">
   <app-encabezado></app-encabezado>
   <nz-layout>
    <nz-sider nz-icon="" nzWidth="250px" nzTheme="light" nzCollapsible>

<ul  nz-menu nzMode="inline" class="sider" >

  <li nz-menu-item routerLink="/proyectos">
      <span nz-icon nzType="folder"></span>
      <span>  Proyecto</span>
  </li>
  <li nz-menu-item routerLink="/proyectos">
      <span nz-icon nzType="star"></span>
      <span>  Favoritos</span>
  </li>
  <li nz-menu-item routerLink="/personas">
      <span nz-icon nzType="team"></span>
      <span>  Personas</span>
  </li>
  <li nz-menu-item routerLink="/archivos">
      <span nz-icon nzType="history"></span>
      <span>  Documentos recientes</span>
  </li>
</ul>

    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-content>
        <app-proyectos/>
        
          app-crear_contenidos
          app-crear-unidad
          app-proyecto-crear
          app-personas
          app-proyectos
          app-unidades
          app-contenidos
        
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout> -->
