body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f7faff;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.left,
.right {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.left img {
    width: 80%;
    object-fit: contain;
}

.left {
    background-color: var(--rojoLogin);
    flex: 1.5;
}

.right {
    display: flex;
    flex-direction: column;
}

app-estructura-entrada-registro {
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
    height: fit-content;
    overflow: auto;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left,
    .right {
        flex: none;
        width: 100%;
    }
}
