<div class="subtitulo">
    <div>Agregar coordinador</div>
    <span
        nz-popover
        nz-icon
        [(nzPopoverVisible)]="buscadorVisible"
        (click)="abrirBuscador()"
        [nzPopoverContent]="buscador"
        [nzPopoverTrigger]="null"
        nzTrigger="manual"
        nzPopoverPlacement="bottomLeft"
        nzType="plus-circle"
        nzTheme="fill">
    </span>
</div>
<app-permisos-mini-coordinador
    *ngFor="let coordinador of coordinadores"
    [coordinador]="coordinador"
    (removeItemClick)="onRemoveItemClick($event)" />

<ng-template #buscador>
    <app-buscador-personas
        (agregarCoordinadores)="addCoordinadores($event)"
        (cancelar)="cancelarBuscador()"
        [usuariosActuales]="coordinadores" />
</ng-template>
