.grid-container {
    background: var(--contentBg);

    width: 100%;
    min-height: 100%;
    border-radius: 25px;
    padding: 25px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

::ng-deep .grid-container-empty {
    height: 100%;
}
