<!-- archivo-fila.component.html -->
<a (click)="onFileClick()">
    <div nz-row class="file-card">
        <!-- Estrella -->
        <div nz-col nzFlex="1" class="columna-icono hide-on-small-3">
            <span
                [class]="archivo.favorito ? 'estrella-llena' : 'estrella-vacia'"
                nz-icon
                nzType="star"
                [nzTheme]="archivo.favorito ? 'fill' : 'outline'"
                (click)="onStarClick($event)">
            </span>
        </div>

        <!-- Nombre de archivo -->
        <div nz-col nzFlex="6">
            <span
                class="archivo-icono"
                nz-icon
                [nzType]="getIcono(archivo.terminacion).nombre"
                [ngStyle]="{ color: getIcono(archivo.terminacion).color }"
                nzTheme="outline"></span>
            <div class="texto">{{ archivo.nombre }}</div>
        </div>

        <div nz-col nzFlex="6" class="hide-on-small-3">
            <ng-container *ngIf="archivo.usuario_info.imagen; else icono">
                <!-- Mostrar la imagen si la URL de la imagen está presente -->
                <img
                    class="usuario-imagen"
                    [src]="archivo.usuario_info.imagen"
                    alt="Imagen de usuario" />
            </ng-container>

            <ng-template #icono>
                <!-- Mostrar el icono si la URL de la imagen no está presente -->
                <div class="usuario-icono-container">
                    <span class="usuario-icono" nz-icon nzType="user"></span>
                </div>
            </ng-template>
            <div class="texto">{{ archivo.usuario_info.nombre }}</div>
        </div>

        <!-- Etiquetas -->
        <div nz-col nzFlex="6" class="lista-etiquetas hide-on-small-1">
            <nz-tag
                class="etiqueta"
                *ngFor="let etiqueta of archivo.etiquetas"
                [nzColor]="etiqueta.color">
                {{ etiqueta.nombre }}
            </nz-tag>
        </div>

        <!-- Fecha -->
        <div nz-col nzFlex="6" class="hide-on-small-2">
            <div class="texto">{{ formatDate(archivo.fecha) }}</div>
        </div>

        <!-- Icono de detalles -->
        <div
            nz-col
            nzFlex="1"
            nz-dropdown
            nzTrigger="click"
            [nzDropdownMenu]="menu"
            class="columna-icono"
            (click)="onMenuClick($event)">
            <span
                class="detalles"
                nz-icon
                nzType="more"
                nzTheme="outline"></span>
        </div>

        <!-- Menu opciones -->
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
                <li nz-menu-item>
                    <span class="icono-opcion" nz-icon nzType="edit"></span>
                    Editar
                </li>
                <li nz-menu-item (click)="onAddVersionClick()">
                    <span class="icono-opcion" nz-icon nzType="file-add"></span>
                    Agregar versión
                </li>
                <li nz-menu-item nzDanger>
                    <span
                        class="icono-opcion icono-borrar"
                        nz-icon
                        nzType="delete"></span>
                    Borrar
                </li>
            </ul>
        </nz-dropdown-menu>
    </div>
</a>
