.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

button {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    border: 2px solid #ff4d4f;
    border-radius: 5px;
    background-color: #fff;
    color: #ff4d4f;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4d4f;
    color: #f7faff;
}

.campo .input-wrapper {
    display: flex;
    align-items: center;
}

.campo .input-wrapper input {
    flex-grow: 1;
}

.campo .input-wrapper i {
    margin-left: 10px;
    cursor: pointer;
}

.titulo {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}
