<div class="text">
    <div class="titulo">Registrarse en CarDrive</div>
    <div
        class="usuario-icono-container"
        [style.background-color]="colorSeleccionado">
        <span class="usuario-icono" nz-icon nzType="user"></span>
    </div>
</div>

<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <div class="campo">
        <label for="nombre">Nombre:</label>
        <input
            nz-input
            placeholder="Nombre"
            type="text"
            formControlName="nombre" />
    </div>

    <div class="campo">
        <label for="apellido">Apellido:</label>
        <input
            nz-input
            placeholder="Apellido"
            type="text"
            formControlName="apellido" />
    </div>

    <p class="texto-color">Selecciona el color</p>

    <div class="colores">
        <div
            *ngFor="let opcionColor of colores"
            nzSpan="2"
            class="cuadro"
            [class.seleccionado]="colorSeleccionado === opcionColor"
            (click)="seleccionarColor(opcionColor)"
            [style.background-color]="opcionColor"></div>
    </div>

    <button type="submit">Registrarse</button>
</form>
