.submenu-nav {
    max-width: 99%;
}

.ant-menu {
    background: #f7faff;
}

.ant-menu-inline {
    border-right: #f7faff;
}

.boton {
    height: 30px;
    background-color: #f7faff;
    border: none;
}

.layout {
    min-height: 100vh;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
}

.button-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
    /* Ajusta según sea necesario */
}

/* Estilo del ícono */
.icon-toggle {
    font-size: 18px;
}
