<ul nz-menu nzMode="inline" class="sider-menu">
    <li nz-menu-item routerLink="/proyectos">
        <span nz-icon nzType="folder"></span>
        <span> Proyecto</span>
    </li>
    <li nz-menu-item routerLink="/unidades">
        <span nz-icon nzType="star"></span>
        <span> Favoritos</span>
    </li>
    <li nz-menu-item routerLink="/archivos">
        <span nz-icon nzType="team"></span>
        <span> Personas</span>
    </li>
    <li nz-menu-item routerLink="/">
        <span nz-icon nzType="history"></span>
        <span> Documentos recientes</span>
    </li>
</ul>
