<div class="tarjeta">
    <div class="container">
        <div class="left">
            <div class="left">
                <div (click)="fileInput.click()">
                    <input
                        nz-input
                        type="file"
                        #fileInput
                        (change)="onFileSelected($event)"
                        accept=".png, .jpg, .jpeg"
                        hidden />
                    <div
                        *ngIf="
                            validateForm.value.imagen === '';
                            else imagenPreview
                        "
                        class="imagen-upload">
                        <span nz-icon nzType="upload" nzTheme="outline"></span>
                        <div>Añadir imagen</div>
                    </div>
                    <ng-template #imagenPreview>
                        <div
                            class="contenedor-imagen"
                            [style.background-color]="
                                validateForm.value.colorSeleccionado
                            ">
                            <img
                                [src]="validateForm.value.imagen"
                                alt="Vista previa de la imagen"
                                class="imagen-proyecto" />
                        </div>
                    </ng-template>
                </div>
            </div>
            <app-permisos-lideres />
        </div>

        <form
            class="right"
            nz-form
            [formGroup]="validateForm"
            (ngSubmit)="crearProyecto()">
            <nz-form-item>
                <nz-form-label nzFor="nombreProyecto">
                    Nombre para el proyecto
                </nz-form-label>
                <nz-form-control [nzErrorTip]="nombreProyectoErrorTpl">
                    <input
                        class="campo-texto"
                        type="text"
                        nz-input
                        formControlName="nombreProyecto"
                        placeholder="Nombre del proyecto" />
                    <ng-template #nombreProyectoErrorTpl>
                        Se necesita agregar un nombre
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-label nzFor="nombreProyecto">
                Selecciona un color
            </nz-form-label>
            <nz-form-item>
                <div class="colores">
                    <div
                        *ngFor="let opcionColor of colores"
                        nzSpan="2"
                        class="cuadro"
                        [class.seleccionado]="
                            validateForm.value.colorSeleccionado === opcionColor
                        "
                        (click)="seleccionarColor(opcionColor)"
                        [style.background-color]="opcionColor"></div>
                </div>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="nombreProyecto">
                    Descripción
                </nz-form-label>
                <nz-form-control [nzErrorTip]="descripcionErrorTpl">
                    <textarea
                        class="campo-texto"
                        nz-input
                        rows="4"
                        formControlName="descripcion"
                        placeholder="Añade una descripción breve del proyecto"></textarea>
                    <ng-template #descripcionErrorTpl>
                        Añade una descripción
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>

    <div class="botones">
        <button class="boton-cancelar" nz-button (click)="handleCancel()">
            Cancelar
        </button>
        <button
            class="boton-crear"
            nz-button
            [nzLoading]="loading"
            [disabled]="loading"
            (click)="crearProyecto()">
            {{ nuevoProyecto ? 'Crear proyecto' : 'Actualizar proyecto' }}
        </button>
    </div>
</div>
