<div class="tarjeta">
    <div class="container">
        <div class="left">
            <div
                class="contenedor-imagen"
                [ngStyle]="{ 'background-color': colorSeleccionado }">
                <img
                    class="imagen-proyecto"
                    src="../../../../assets/images/proyectos_props/p1.png"
                    alt="Imagen de proyecto" />
            </div>
            <app-permisos-lideres />
        </div>

        <form
            class="right"
            nz-form
            [formGroup]="validateForm"
            (ngSubmit)="crearProyecto()">
            <nz-form-item>
                <nz-form-label nzFor="nombreProyecto">
                    Nombre para el proyecto
                </nz-form-label>
                <nz-form-control [nzErrorTip]="nombreProyectoErrorTpl">
                    <input
                        class="campo-texto"
                        type="text"
                        nz-input
                        formControlName="nombreProyecto"
                        placeholder="Nombre del proyecto" />
                    <ng-template #nombreProyectoErrorTpl>
                        Se necesita agregar un nombre
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-label nzFor="nombreProyecto">
                Selecciona un color
            </nz-form-label>
            <nz-form-item>
                <div class="colores">
                    <div
                        *ngFor="let opcionColor of colores"
                        nzSpan="2"
                        class="cuadro"
                        [class.seleccionado]="colorSeleccionado === opcionColor"
                        (click)="seleccionarColor(opcionColor)"
                        [style.background-color]="opcionColor"></div>
                </div>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="nombreProyecto">
                    Descripción
                </nz-form-label>
                <nz-form-control [nzErrorTip]="descripcionErrorTpl">
                    <textarea
                        class="campo-texto"
                        nz-input
                        rows="4"
                        formControlName="descripcion"
                        placeholder="Añade una descripción breve del proyecto"></textarea>
                    <ng-template #descripcionErrorTpl>
                        Añade una descripción
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>

    <div class="botones">
        <button class="boton-cancelar" nz-button (click)="handleCancel()">
            Cancelar
        </button>
        <button class="boton-crear" nz-button (click)="crearProyecto()">
            Crear proyecto
        </button>
    </div>
</div>
