<div class="card" (click)="abrirModal()">
    <span nz-icon nzType="plus-circle" nzTheme="outline" class="icono"></span>
    <div class="mensaje">Agregar proyecto</div>
</div>

<nz-modal
    class="proyecto-crear-modal"
    [(nzVisible)]="modalVisible"
    [nzContent]="modalContent"
    [nzFooter]="null"
    [nzClosable]="false"
    (nzOnCancel)="cerrarModal()"
    [nzWidth]="1380">
    <ng-template #modalContent>
        <app-proyectos-crear-modal
            (cancelModal)="cerrarModal()"
            (crearProyectoImportado)="
                handleCrearProyecto($event.proyecto, $event.terminar)
            " />
    </ng-template>
</nz-modal>
