<!-- contenidos.component.html -->
<nz-breadcrumb>
    <nz-breadcrumb-item>Inicio</nz-breadcrumb-item>
    <nz-breadcrumb-item>Proyecto 1</nz-breadcrumb-item>
    <nz-breadcrumb-item>Finanzas</nz-breadcrumb-item>
</nz-breadcrumb>

<app-lista-archivos
    [archivos]="archivos"
    [carpetas]="carpetas"></app-lista-archivos>

<button
    nz-button
    nzType="primary"
    nzShape="circle"
    nzSize="large"
    class="add-button"
    (click)="abrirModalCrearContenido()">
    <i nz-icon nzType="plus" nzTheme="outline"></i>
</button>
