/* Estilos para la barra lateral colapsable */
.collapsible-sidebar {
    --menu-background: var(--blanco);
    --menu-text-color: var(--negro);
    --menu-item-selected-background: var(--amarillo);
    --menu-item-hover-background: var(--blanco);
    --layout-sider-background: var(--blanco);
    --layout-sider-text-color: var(--blanco);
    --layout-sider-border-color: var(--blanco);
    --layout-sider-trigger-background: var(--blanco);
    
    background-color: var(--blanco);
    color: var(--blanco);
    border: 1px solid var(--blanco);
}

.collapsible-sidebar .ant-menu {
    background-color: var(--menu-background);
    color: var(--menu-text-color);
}

.collapsible-sidebar .ant-menu-item-selected {
    background-color: var(--blanco);
}

.collapsible-sidebar .ant-menu-item:hover {
    background-color: var(--blanco);
}

.collapsible-sidebar .ant-menu-text-color:hover {
    background-color: var(--blanco);
}

::ng-deep .ant-layout-sider-trigger {
    background-color: var(--blanco) !important;
}

::ng-deep .ant-layout-sider-trigger span {
    color: var(--negro);
}

.ant-layout-sider {
    overflow: auto;
    background: var(--blanco);
}

.inner-layout {
    margin: 24px;
}

.whole-layout {
    height: 100%;
}

.ant-layout {
    background: #f7faff;
    overflow: auto;
}

.sider-trigger {
    background: #f7faff;
}

.sider {
    background: #f7faff;
}

::ng-deep .ant-menu-title-content {
    width: 100%;
    display: flex;
    /*justify-content: space-between; Lo que causaba error en el sidebar*/ 
    align-items: center;
}
