<nz-layout class="whole-layout">
    <app-encabezado *ngIf="showHeader"></app-encabezado>
    <nz-layout>
      <nz-sider
        *ngIf="showSidebar"
        class="collapsible-sidebar"
        nzWidth="250px"
        nzCollapsible
        [nzCollapsed]="true">
        <ul nz-menu nzMode="inline" class="sider">
          <li nz-menu-item routerLink="/proyectos">
            <span nz-icon nzType="folder"></span>
            <span> Proyecto</span>
          </li>
          <li nz-menu-item routerLink="/archivos/favoritos">
            <span nz-icon nzType="star"></span>
            <span> Favoritos</span>
          </li>
          <li nz-menu-item routerLink="/archivos/recientes">
            <span nz-icon nzType="history"></span>
            <span> Documentos recientes</span>
          </li>
          <li nz-menu-item routerLink="/personas">
            <span nz-icon nzType="team"></span>
            <span> Personas</span>
          </li>
        </ul>
      </nz-sider>
      <nz-layout class="inner-layout">
        <nz-content>
          <router-outlet></router-outlet>
        </nz-content>
      </nz-layout>
    </nz-layout>
  </nz-layout>
  