/* Estilos para el contenedor principal y contenido */
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    display: flex;
    flex: 1;
}

.content {
    flex: 1;
    padding: 20px;
}

/* Estilos para la barra lateral colapsable */
.collapsible-sidebar {
    --menu-background: var(--blanco);
    --menu-text-color: var(--negro);
    --menu-item-selected-background: var(--amarillo);
    --menu-item-hover-background: var(--blanco);
    --layout-sider-background: var(--blanco);
    --layout-sider-text-color: var(--blanco);
    --layout-sider-border-color: var(--blanco);
    --layout-sider-trigger-background: var(--blanco);

    background-color: var(--blanco);
    color: var(--blanco);
    border: 1px solid var(--blanco);
}

.collapsible-sidebar .ant-menu {
    background-color: var(--menu-background);
    color: var(--menu-text-color);
}

.collapsible-sidebar .ant-menu-item-selected {
    background-color: var(--blanco);
}

.collapsible-sidebar .ant-menu-item:hover {
    background-color: var(--blanco);
}

.collapsible-sidebar .ant-menu-text-color:hover {
    background-color: var(--blanco);
}

::ng-deep .ant-layout-sider-trigger {
    background-color: var(--blanco) !important;
}

::ng-deep .ant-layout-sider-trigger span {
    color: var(--negro);
}

.ant-layout-sider {
    overflow: auto;
    background: var(--blanco);
}

.inner-layout {
    margin: 24px;
}

.whole-layout {
    height: 100%;
}

.ant-layout {
    background: #f7faff;
    overflow: auto;
}

.sider-trigger {
    background: #f7faff;
}

.sider {
    background: #f7faff;
    border-right: 0;
    font-size: 16px;
}

.ant-menu-item .anticon {
    font-size: 16px;
    line-height: normal;
}

/* Estilos para menus */
::ng-deep .ant-menu-title-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::ng-deep .ant-menu-item .ant-menu-title-content {
    justify-content: flex-start;
}

::ng-deep .ant-modal-content {
    border-radius: 10px;
}

::ng-deep span.ant-modal-close-x {
    padding: 38px;
    width: auto;
    height: auto;
    line-height: normal;
}

/* Media queries para responsividad */
@media (max-width: 768px) {
    .app-container {
        flex-direction: column;
    }

    .main-content {
        flex-direction: column;
    }

    app-sidebar {
        width: 100%;
    }

    .content {
        padding: 10px;
    }
}
