.ant-layout-sider {
    overflow: auto;
    background: var(--blanco);
  }
  .inner-layout {
    margin: 24px;
  }
  .whole-layout {
    height: 100%;
  }
  
  .ant-layout {
    background: #F7FAFF;
    overflow: auto;
  }
  
  .sider-trigger {
    background: #F7FAFF;
  }
  
  .sider{
    background: #F7FAFF;
  }