.contenedor {
    background: var(--contentBg);
    height: 100%;
    border-radius: 25px;
    padding: 25px 15px;
    margin-right: 25px;
    min-width: 330px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    width: 100%;
    font-size: 1.9rem;
    font-weight: 500;
    margin-top: 10px;
}

.lideres {
    width: 100%;
}

.coordinadores {
    width: 100%;
}
