<h1>Unidades</h1>

<nz-flex class="grid-container" *ngIf="!unidadesVacias || permisoParaAgregar">
    <ng-container *ngIf="esqueleto">
        <app-unidades-tarjeta-esqueleto *ngFor="let i of loadingCards" />
    </ng-container>
    <app-unidades-tarjeta
        *ngFor="let unidad of unidades"
        [unidad]="unidad"
        [message]="message"
        [unidadService]="unidadesService"
        (eliminarUnidadImportada)="borrarUnidad($event)"
        (actualizarUnidadImportada)="actualizarUnidad($event)" />
    <app-unidades-crear-tarjeta
        *ngIf="!esqueleto && permisoParaAgregar"
        (crearUnidadImportada)="crearUnidad($event)"
        [proyectoId]="proyectoId"
        [unidadService]="unidadesService"
        [message]="message" />
</nz-flex>

<nz-flex
    class="grid-container-empty"
    *ngIf="unidadesVacias && !permisoParaAgregar">
    <nz-empty [nzNotFoundContent]="contentTpl">
        <ng-template #contentTpl>No hay unidades</ng-template>
    </nz-empty>
</nz-flex>
