/* crear-contenidos.component.css */
:root {
    --rojoLogin: #e74c3c;
    --blanco: #ffffff;
    --negro: #070809;
}

.body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7faff;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: #f7faff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.error {
    color: red;
    font-size: 12px;
}

.container {
    display: flex;
    flex-grow: 1;
    padding: 10px;
    flex-direction: row;
}

.left {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
    flex-direction: column;
}

.left img,
.left iframe,
.left video {
    max-width: 100%;
    height: auto;
    display: block;
}

.file-upload-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #c5cdd1;
    color: #c5cdd1;
    text-align: center;
}

.other-preview {
    text-align: center;
}

.file-name {
    margin-top: 10px;
    text-align: center;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.right input[type='text'],
.right textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #c5cdd1;
    border-radius: 5px;
    font-size: 16px;
    color: var(--negro);
}

.right input[type='text']:focus,
.right textarea:focus {
    outline: none;
    border-color: var(--rojoLogin);
}

.right label {
    margin-top: 10px;
    font-size: 16px;
    color: var(--negro);
}

.tags {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.tag-input-container {
    display: flex;
    align-items: baseline;
    margin-top: 3px;
}

.tag-input-container input[type='text'] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #c5cdd1;
    border-radius: 5px;
}

.tag-input-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--rojoLogin);
    color: var(--blanco);
    cursor: pointer;
}

.tag-input-container button:hover {
    background-color: var(--blanco);
    color: var(--rojoLogin);
    border: 1px solid var(--rojoLogin);
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tag {
    display: inline-block;
    background-color: #fff;
    color: var(--negro);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid #c5cdd1;
}

.tag:hover {
    background-color: var(--rojoLogin);
    color: var(--blanco);
    border: 1px solid var(--rojoLogin);
}

.bottom-section {
    padding: 10px;
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--rojoLogin);
    color: var(--blanco);
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: var(--blanco);
    color: var(--rojoLogin);
    border: 2px solid var(--rojoLogin);
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .right {
        padding-top: 0;
    }
}
