<div class="tarjeta" [formGroup]="contenidoForm">
    <div class="container">
        <div class="left" (click)="fileInput.click()">
            <input
                type="file"
                #fileInput
                (change)="fileChanged($event)"
                hidden />
            <div
                *ngIf="!filePreview && !isOther"
                class="file-upload-placeholder">
                Clic para añadir archivo
            </div>
            <ng-template [ngIf]="isImage">
                <div class="image-container">
                    <div class="image-overlay"></div>
                    <img [src]="filePreview" alt="Vista previa de la imagen" />
                </div>
            </ng-template>
            <ng-template [ngIf]="isVideo">
                <div class="video-preview">
                    <video [src]="filePreview" controls width="100%"></video>
                </div>
            </ng-template>
            <ng-template [ngIf]="isOther">
                <div class="other-preview">
                    <p>Archivo cargado</p>
                </div>
            </ng-template>
            <div class="file-name" *ngIf="fileName">
                <p>{{ fileName }}</p>
            </div>
        </div>
        <div class="right">
            <div>
                <label for="nombre_archivo">Nombre del archivo:</label>
                <input
                    type="text"
                    id="nombre_archivo"
                    name="nombre_archivo"
                    formControlName="nombreArchivo"
                    placeholder="Nombre del archivo" />
                <div
                    *ngIf="
                        contenidoForm.controls['nombreArchivo'].invalid &&
                        contenidoForm.controls['nombreArchivo'].touched
                    "
                    class="error-message">
                    <small
                        *ngIf="
                            contenidoForm.controls['nombreArchivo'].errors?.[
                                'required'
                            ]
                        "
                        >El nombre del archivo es requerido.</small
                    >
                    <small
                        *ngIf="
                            contenidoForm.controls['nombreArchivo'].errors?.[
                                'maxlength'
                            ]
                        "
                        >El nombre no puede exceder los 32 caracteres.</small
                    >
                </div>
            </div>
            <label for="descripcion">Descripción:</label>
            <textarea
                id="descripcion"
                name="descripcion"
                rows="4"
                formControlName="descripcion"
                placeholder="Descripción del archivo"></textarea>
            <div
                *ngIf="
                    contenidoForm.controls['descripcion'].invalid &&
                    contenidoForm.controls['descripcion'].touched
                "
                class="error-message">
                <small
                    *ngIf="
                        contenidoForm.controls['descripcion'].errors?.[
                            'required'
                        ]
                    "
                    >La descripción es requerida.</small
                >
                <small
                    *ngIf="
                        contenidoForm.controls['descripcion'].errors?.[
                            'maxlength'
                        ]
                    "
                    >La descripción no puede exceder los 150 caracteres.</small
                >
            </div>
            <div>
                <label for="nombre_version">Nombre de la versión:</label>
                <input
                    type="text"
                    id="nombre_version"
                    name="nombre_version"
                    formControlName="nombreVersion"
                    placeholder="Nombre de la versión" />
                <div
                    *ngIf="
                        contenidoForm.controls['nombreVersion'].invalid &&
                        contenidoForm.controls['nombreVersion'].touched
                    "
                    class="error-message">
                    <small
                        *ngIf="
                            contenidoForm.controls['nombreVersion'].errors?.[
                                'required'
                            ]
                        "
                        >El nombre de la versión es requerido.</small
                    >
                    <small
                        *ngIf="
                            contenidoForm.controls['nombreVersion'].errors?.[
                                'maxlength'
                            ]
                        "
                        >El nombre no puede exceder los 32 caracteres.</small
                    >
                </div>
            </div>
            <div class="tags">
                <label for="tags">Etiquetas:</label>
                <div class="tag-input-container">
                    <input
                        type="text"
                        formControlName="tagInput"
                        placeholder="Agregar etiqueta" />
                    <button type="button" (click)="agregarTag()">Añadir</button>
                </div>
                <div class="tags-list">
                    <div
                        class="tag"
                        *ngFor="let tag of contenidoForm.value.tags"
                        (click)="eliminarTag(tag)">
                        {{ tag }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-section">
        <button type="button" (click)="validarDatos()">
            {{ isEditing ? 'Editar archivo' : 'Guardar archivo' }}
        </button>
    </div>
</div>
