<div class="tarjeta" [formGroup]="contenidoForm">
    <div class="container">
        <div class="left" (click)="fileInput.click()">
            <input
                type="file"
                #fileInput
                (change)="onFileSelected($event)"
                hidden />
            <div
                *ngIf="!archivoURL; else archivoPreview"
                class="file-upload-placeholder">
                Clic para añadir archivo
            </div>
            <ng-template #archivoPreview>
                <div class="file-container">
                    <span>{{ nombreArchivo }}</span>
                </div>
            </ng-template>
        </div>

        <div class="right">
            <div class="campo">
                <p class="texto-indicador">
                    Escribe un título para el contenido
                </p>
                <input
                    type="text"
                    class="buscador"
                    placeholder="Título del contenido"
                    formControlName="tituloContenido" />
            </div>

            <div class="campo">
                <p class="texto-indicador">Añade una descripción</p>
                <textarea
                    formControlName="descripcion"
                    rows="4"
                    cols="50"></textarea>
            </div>
        </div>
    </div>

    <button type="button" (click)="validarDatos()">Crear contenido</button>
</div>
