.titulo {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}

button {
    padding: 7px 70px;
    margin: 20px auto 0;
    border: 2px solid var(--blanco);
    border-radius: 5px;
    background-color: var(--rojoLogin);
    color: var(--blanco);
    font-size: 20px;
    cursor: pointer;
    display: block;
}

button:hover {
    background-color: var(--blanco);
    color: var(--rojoLogin);
    border: 2px solid var(--rojoLogin);
}

.colores {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    flex-direction: row;
    flex-wrap: wrap;
    width: 450px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.campo-texto {
    padding: 10px;
    background-color: var(--contentBg);
    border: 1px solid var(--bordes);
    box-shadow: 0 0 0 0;
    border-radius: 5px;
    font-size: 16px;
}

.ant-input-status-error:not(.ant-input-disabled):not(
        .ant-input-borderless
    ).ant-input,
.ant-input-status-error:not(.ant-input-disabled):not(
        .ant-input-borderless
    ).ant-input:hover,
.ant-input-status-error:not(.ant-input-disabled):not(
        .ant-input-borderless
    ).ant-input:focus {
    background-color: var(--contentBg);
}

.cuadro {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid var(--negro);
    border-radius: 5px;
}

.seleccionado {
    border-width: 3px;
}

.usuario-icono-container {
    font-size: 110px;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border: 2px solid var(--negro);
    margin: 35px auto;
}

.ant-form-horizontal .ant-form-item-label {
    padding-top: 10px;
}

::ng-deep .ant-form-item-label > label {
    color: var(--negro);
    font-size: 20px;
}

.boton-registrar {
    font-size: 1rem;
    height: auto;

    background-color: var(--rojoLogin);
    border: 2px solid var(--rojoLogin);
    color: var(--blanco);

    border-radius: 20px;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .titulo {
        font-size: 28px;
    }

    button {
        padding: 7px 40px;
        font-size: 18px;
    }

    .usuario-icono-container {
        font-size: 90px;
        width: 150px;
        height: 150px;
    }
}
