.logo {
    width: 140px;
    margin: 10px 30px;
    float: left;
}

.encabezado {
    background-color: var(--contentBg);
    border-radius: 20px;
    border: none;
}

.texto-busqueda {
    background: none;
}

.ant-layout-header {
    padding: 0;
    margin-bottom: 10px;
    line-height: 64px;
    background: var(--blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-input-affix-wrapper {
    width: 40%;
    padding: 0 11px;
}

.header-icon {
    font-size: 1.5rem;
}

.control-icon {
    font-size: 1.5rem;
    padding: 8px 4px;
    padding-right: 0;
    border-left: 3px solid var(--blanco);
    cursor: pointer;
}

.derecha {
    display: flex;
    align-items: center;
}

.usuario-icono {
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    font-size: 1.4rem;
}

.usuario-icono-container {
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-right: 30px;
    border-radius: 50%;
    border: 2px solid var(--negro);
    background-color: var(--celeste);
}

.usuario-imagen {
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-right: 30px;
    overflow: hidden;
    border-radius: 50%;
}

.ant-menu-title-content {
    width: 100%;
    display: flex;
    align-items: center;
}

.icono-opcion {
    margin-left: 10px;
}

.ant-input-affix-wrapper > input.ant-input {
    padding-left: 5px;
}
