<!-- TODO: Personalizar -->
<!-- TODO: Hacer responsivo -->

<ul nz-menu nzMode="inline" class="sider-menu">
    <li class="submenu-nav" nz-submenu nzOpen nzIcon="star" nzTitle="Favoritos" >
        <ul>
            <li nz-menu-item nzSelected>option1</li>

        </ul>
    </li>
    <li class="submenu-nav" nz-submenu nzIcon="history" nzTitle="Archivos recientes">
        <ul>
            <li nz-menu-item>option5</li>

        </ul>
    </li>
    <li class="submenu-nav" nz-submenu nzIcon="user" nzTitle="Personas">
        <ul>
            <li nz-menu-item>option9</li>

        </ul>
    </li>
</ul>