<div class="grid-container">
    <div class="encabezado" nz-row>
        <div class="titulo hide-on-small-3" nz-col nzFlex="1"></div>
        <div class="titulo" nz-col nzFlex="6">Nombre</div>
        <div class="titulo hide-on-small-3" nz-col nzFlex="6">Propietario</div>
        <div class="titulo hide-on-small-1" nz-col nzFlex="6">Etiquetas</div>
        <div class="titulo hide-on-small-2" nz-col nzFlex="6">Fecha</div>
        <div class="titulo" nz-col nzFlex="1"></div>
    </div>
    <app-archivo-fila *ngFor="let archivo of archivos" [archivo]="archivo"></app-archivo-fila>
</div>
