.logo {
    width: 160px;
    height: 60px;
    margin-left: 30px;
}

.ant-layout-header {
    padding: 0;
    line-height: 64px;
    background: var(--blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buscador-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
}

.buscador {
    display: flex;
    align-items: center;
    flex-grow: 1;
    border-radius: 25px;
}

.boton-busqueda-avanzada {
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icon {
    font-size: 1.8rem;
}

.derecha {
    display: flex;
    align-items: center;
}

.usuario-icono {
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

.usuario-icono-container {
    width: 40px;
    height: 40px;
    margin-right: 30px;
    border-radius: 50%;
    border: 2px solid var(--negro);
    background-color: var(--celeste);
}

.usuario-imagen {
    width: 40px;
    height: 40px;
    margin: 10px;
    margin-right: 30px;
    overflow: hidden;
    border-radius: 50%;
}

.ant-menu-title-content {
    width: 100%;
    display: flex;
    align-items: center;
}

.icono-opcion {
    margin-right: 8px;
}

button {
    height: 40px;
    width: 40px;
    padding: 5px 10px;
    border: 1px solid #c5cdd1;
    border-radius: 5px;
    background-color: #fff;
    color: #c5cdd1;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: var(--blanco);
    color: var(--rojoLogin);
    border: 1px solid var(--rojoLogin);
}

/* Media queries para hacerlo responsivo */
@media (max-width: 1200px) {
    .logo {
        width: 140px;
        height: 50px;
    }
    .buscador-container {
        margin: 0 10px;
    }
    .derecha .usuario-imagen,
    .derecha .usuario-icono-container {
        margin-right: 20px;
    }
}

@media (max-width: 992px) {
    .logo {
        width: 120px;
        height: 45px;
    }
    .buscador-container {
        margin: 0 5px;
    }
    .derecha .usuario-imagen,
    .derecha .usuario-icono-container {
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 100px;
        height: 40px;
    }
    .buscador-container {
        margin: 0;
    }
    .derecha .usuario-imagen,
    .derecha .usuario-icono-container {
        margin-right: 5px;
    }
}

@media (max-width: 576px) {
    .logo {
        width: 80px;
        height: 35px;
    }
    .buscador-container {
        flex-grow: 0.5;
    }
    .derecha .usuario-imagen,
    .derecha .usuario-icono-container {
        margin-right: 0;
    }
}
