.ant-layout-sider {
  overflow: auto;
  background: var(--blanco);
}
.inner-layout {
  margin: 24px;
}
.whole-layout {
  height: 100%;
}

.ant-layout {
  background: var(--blanco);
  overflow: auto;
}

.sider-trigger {
  background: var(--blanco);
}
