.card {
    width: 280px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    background-color: var(--blanco);
}

.options-button {
    display: flex;
    justify-content: flex-end;
    margin: 2px 3px 0 0;
    font-size: 20px;
  }
  
.image-container {
    height: 200px;
    border-radius: 10px;
    border: 1px solid;
    background-size: cover;
    background-position: center;
}

.name-label {
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.anticon {
    color: #595959;
}