.card {
    width: 280px;
    height: 230px;

    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    background-color: var(--blanco);
    position: relative;
}

.options-button {
    display: flex;
    justify-content: flex-end;
    margin: 2px 3px 0 0;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.image-container {
    height: 180px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--bordes);
}

.name-label {
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.anticon {
    color: #595959;
}

.icono-opcion {
    margin-right: 8px;
}

.icono-borrar {
    color: var(--rojoLogin);
}

.ant-dropdown-menu-item-danger:hover .icono-borrar {
    color: var(--blanco);
    transition: all 0.3s;
}
