<div class="card">
    <a
        href="/proyectos/{{ unidad.id_proyecto }}/unidades/{{
            unidad.id
        }}/archivos">
        <img
            class="image-container"
            [src]="unidad.imagen"
            (error)="handleImageError()"
            [ngStyle]="{ 'border-color': unidad.color }"
            *ngIf="!showPlaceholder"
            alt="Imagen de unidad" />
        <nz-empty
            class="image-container"
            [ngStyle]="{ 'border-color': unidad.color }"
            nzNotFoundImage="simple"
            *ngIf="showPlaceholder"
            [nzNotFoundContent]="contentTpl">
            <ng-template #contentTpl
                >Hubo un problema cargando la imagen</ng-template
            >
        </nz-empty>
    </a>
    <div class="options-button">
        <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <span nz-icon nzType="more" nzTheme="outline"></span>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
                <li nz-menu-item (click)="editarUnidad()">
                    Editar
                    <span class="icono-opcion" nz-icon nzType="edit"></span>
                </li>

                <li nz-menu-item>
                    Archivar
                    <span
                        class="icono-opcion"
                        nz-icon
                        nzType="folder-open"></span>
                </li>
                <li nz-menu-item>
                    Permisos
                    <span class="icono-opcion" nz-icon nzType="unlock"></span>
                </li>
                <li nz-menu-item nzDanger (click)="showModal()">
                    Borrar
                    <span
                        class="icono-opcion icono-borrar"
                        nz-icon
                        nzType="delete"></span>
                </li>
            </ul>
        </nz-dropdown-menu>
    </div>
    <a
        href="/proyectos/{{ unidad.id_proyecto }}/unidades/{{
            unidad.id
        }}/archivos">
        <div class="name-label" [ngStyle]="{ color: unidad.color }">
            {{ unidad.nombre }}
        </div>
    </a>
</div>

<nz-modal
    class="modal-borrar"
    [(nzVisible)]="isVisible"
    [nzContent]="modalContent"
    [nzFooter]="null"
    (nzOnCancel)="handleCancel()">
    <ng-template #modalContent>
        <app-unidad-borrar
            [unidad]="unidad"
            [isConfirmLoading]="isConfirmLoading"
            (deleteProject)="handleOk()"
            (cancelModal)="handleCancel()" />
    </ng-template>
</nz-modal>
