.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    padding: 7px 70px;
    margin: 5px 0;
    border: 2px solid #f7faff;
    border-radius: 5px;
    background-color: #ff4d4f;
    color: #f7faff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #ff4d4f;
    border: 2px solid #ff4d4f;
}

.text {
    text-align: center;
    margin-bottom: 20px;
}

.imagen-circular {
    border-radius: 50%;
    max-width: 125px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.campo {
    margin-bottom: 20px;
}

.campo label {
    display: inline-block;
    width: 100px;
}

.campo input {
    width: calc(100% - 100px);
}

.fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cuadro {
    width: 30px;
    height: 30px;
    border: 1px solid #070809;
}

.seleccionado {
    border-width: 5px;
    border-style: double;
    border-color: #070809 #f7faff;
}

.texto-color {
    font-size: 16px;
    color: #595959;
    margin: 5px 0;
}
