<div class="text">
    <div class="titulo">Registrarse en CarDrive</div>
    <div
        class="usuario-icono-container"
        [style.background-color]="colorSeleccionado">
        <span class="usuario-icono" nz-icon nzType="user"></span>
    </div>
</div>

<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <div class="campo">
        <label for="email">Email:</label>
        <input
            nz-input
            placeholder="Introduce tu email"
            formControlName="email"
            type="email" />
    </div>

    <div class="campo">
        <label for="password">Crea tu contraseña:</label>
        <div class="input-wrapper">
            <input
                nz-input
                type="password"
                placeholder="Introduce tu contraseña"
                formControlName="password"
                [type]="hide ? 'password' : 'text'" />
            <i
                nz-icon
                nzType="{{ hide ? 'eye-invisible' : 'eye' }}"
                (click)="toggleHide()"></i>
        </div>
    </div>

    <div class="campo">
        <label for="password">Confirma tu contraseña:</label>
        <div class="input-wrapper">
            <input
                nz-input
                type="password"
                placeholder="Confirma tu contraseña"
                [type]="hide ? 'password' : 'text'" />
            <i
                nz-icon
                nzType="{{ hide ? 'eye-invisible' : 'eye' }}"
                (click)="toggleHide()"></i>
        </div>
    </div>

    <div class="campo">
        <label for="first_name">Nombre:</label>
        <input
            nz-input
            placeholder="Nombre"
            type="text"
            formControlName="first_name" />
    </div>

    <div class="campo">
        <label for="last_name">Apellido:</label>
        <input
            nz-input
            placeholder="Apellido"
            type="text"
            formControlName="last_name" />
    </div>

    <p class="texto-color">Selecciona el color</p>

    <div class="colores">
        <div
            *ngFor="let opcionColor of colores"
            nzSpan="2"
            class="cuadro"
            [class.seleccionado]="colorSeleccionado === opcionColor"
            (click)="seleccionarColor(opcionColor)"
            [style.background-color]="opcionColor"></div>
    </div>

    <button type="submit">Registrarse</button>
</form>
