<div class="text">
    <div class="titulo">Registrarse en CarDrive</div>
    <p class="texto-color">Haz clic en el usuario para añadir una imagen</p>
    <div class="usuario-container">
        <div
            class="usuario-icono-container"
            [style.background-color]="
                !imagenSeleccionada ? colorSeleccionado : 'transparent'
            "
            (click)="seleccionarImagen()"
            style="cursor: pointer">
            <ng-container *ngIf="!imagenSeleccionada">
                <span class="usuario-icono" nz-icon nzType="user"></span>
            </ng-container>
            <ng-container *ngIf="imagenSeleccionada">
                <img
                    [src]="imagenSeleccionada"
                    class="usuario-imagen"
                    alt="Imagen de usuario" />
            </ng-container>
            <input
                type="file"
                #fileInput
                (change)="onFileSelected($event)"
                style="display: none" />
        </div>
    </div>
    <ng-container *ngIf="imagenSeleccionada">
        <button type="button" (click)="quitarImagen()">Quitar Imagen</button>
    </ng-container>
</div>

<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <div class="campo">
        <label for="email">Email:</label>
        <input
            nz-input
            placeholder="Introduce tu email"
            formControlName="email"
            type="email" />
        <div
            *ngIf="email.invalid && (email.dirty || email.touched)"
            class="error">
            <div *ngIf="email.errors?.required">El email es obligatorio.</div>
            <div *ngIf="email.errors?.email">
                Debe ser un correo electrónico válido.
            </div>
        </div>
    </div>

    <div class="campo">
        <label for="password">Crea tu contraseña:</label>
        <div class="input-wrapper">
            <input
                nz-input
                placeholder="Introduce tu contraseña"
                formControlName="password"
                [type]="hidePassword ? 'password' : 'text'" />
            <i
                nz-icon
                nzType="{{ hidePassword ? 'eye-invisible' : 'eye' }}"
                (click)="toggleHidePassword()"></i>
        </div>
        <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="error">
            <div *ngIf="password.errors?.required">
                La contraseña es obligatoria.
            </div>
            <div *ngIf="password.errors?.minlength">
                La contraseña debe tener al menos 6 caracteres.
            </div>
            <div *ngIf="password.errors?.maxlength">
                La contraseña no puede exceder los 128 caracteres.
            </div>
        </div>
    </div>

    <div class="campo">
        <label for="confirmPassword">Confirma tu contraseña:</label>
        <div class="input-wrapper">
            <input
                nz-input
                placeholder="Confirma tu contraseña"
                formControlName="confirmPassword"
                [type]="hideConfirmPassword ? 'password' : 'text'" />
            <i
                nz-icon
                nzType="{{ hideConfirmPassword ? 'eye-invisible' : 'eye' }}"
                (click)="toggleHideConfirmPassword()"></i>
        </div>
        <div
            *ngIf="
                confirmPassword.invalid &&
                (confirmPassword.dirty || confirmPassword.touched)
            "
            class="error">
            <div *ngIf="confirmPassword.errors?.required">
                Confirmar la contraseña es obligatorio.
            </div>
            <div *ngIf="confirmPassword.errors?.mismatch">
                Las contraseñas deben coincidir.
            </div>
        </div>
    </div>

    <div class="campo">
        <label for="first_name">Nombre:</label>
        <input
            nz-input
            placeholder="Nombre"
            type="text"
            formControlName="first_name" />
        <div
            *ngIf="
                first_name.invalid && (first_name.dirty || first_name.touched)
            "
            class="error">
            <div *ngIf="first_name.errors?.required">
                El nombre es obligatorio.
            </div>
            <div *ngIf="first_name.errors?.minlength">
                El nombre debe tener al menos 1 caracter.
            </div>
            <div *ngIf="first_name.errors?.maxlength">
                El nombre no puede exceder los 25 caracteres.
            </div>
        </div>
    </div>

    <div class="campo">
        <label for="last_name">Apellido:</label>
        <input
            nz-input
            placeholder="Apellido"
            type="text"
            formControlName="last_name" />
        <div
            *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)"
            class="error">
            <div *ngIf="last_name.errors?.required">
                El apellido es obligatorio.
            </div>
            <div *ngIf="last_name.errors?.minlength">
                El apellido debe tener al menos 1 caracter.
            </div>
            <div *ngIf="last_name.errors?.maxlength">
                El apellido no puede exceder los 25 caracteres.
            </div>
        </div>
    </div>

    <p class="texto-color" *ngIf="!imagenSeleccionada">Selecciona el color</p>

    <div class="colores" *ngIf="!imagenSeleccionada">
        <div
            *ngFor="let opcionColor of colores"
            nzSpan="2"
            class="cuadro"
            [class.seleccionado]="colorSeleccionado === opcionColor"
            (click)="seleccionarColor(opcionColor)"
            [style.background-color]="opcionColor"></div>
    </div>

    <button type="submit">Registrarse</button>
</form>
