<div class="text">
    <div class="titulo">Registrarse en CarDrive</div>
    <p class="texto-color">Haz clic en el usuario para añadir una imagen</p>
    <div class="usuario-container">
        <div
            class="usuario-icono-container"
            [style.background-color]="
                !imagenSeleccionada ? colorSeleccionado : 'transparent'
            "
            (click)="seleccionarImagen()"
            style="cursor: pointer">
            <ng-container *ngIf="!imagenSeleccionada">
                <span class="usuario-icono" nz-icon nzType="user"></span>
            </ng-container>
            <ng-container *ngIf="imagenSeleccionada">
                <img
                    [src]="imagenSeleccionada"
                    class="usuario-imagen"
                    alt="Imagen de usuario" />
            </ng-container>
            <input
                type="file"
                #fileInput
                (change)="onFileSelected($event)"
                style="display: none" />
        </div>
    </div>
    <ng-container *ngIf="imagenSeleccionada">
        <button type="button" (click)="quitarImagen()">Quitar Imagen</button>
    </ng-container>
</div>

<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    <div class="campo">
        <label for="email">Email:</label>
        <input
            nz-input
            placeholder="Introduce tu email"
            formControlName="email"
            type="email" />
        <div
            *ngIf="
                registroForm.controls['email'].invalid &&
                registroForm.controls['email'].touched
            "
            class="error-message">
            <small *ngIf="registroForm.controls['email'].errors?.['required']"
                >El email es requerido.</small
            >
            <small *ngIf="registroForm.controls['email'].errors?.['email']"
                >Formato de email inválido.</small
            >
        </div>
    </div>

    <div class="campo">
        <label for="password">Crea tu contraseña:</label>
        <div class="input-wrapper">
            <input
                nz-input
                placeholder="Introduce tu contraseña"
                formControlName="password"
                [type]="hidePassword ? 'password' : 'text'" />
            <i
                nz-icon
                nzType="{{ hidePassword ? 'eye-invisible' : 'eye' }}"
                (click)="toggleHidePassword()"></i>
        </div>
        <div
            *ngIf="
                registroForm.controls['password'].invalid &&
                registroForm.controls['password'].touched
            "
            class="error-message">
            <small
                *ngIf="registroForm.controls['password'].errors?.['required']"
                >La contraseña es requerida.</small
            >
            <small
                *ngIf="registroForm.controls['password'].errors?.['minlength']"
                >La contraseña debe tener al menos 6 caracteres.</small
            >
            <small
                *ngIf="registroForm.controls['password'].errors?.['maxlength']"
                >La contraseña no puede exceder los 128 caracteres.</small
            >
        </div>
    </div>

    <div class="campo">
        <label for="confirm_password">Confirma tu contraseña:</label>
        <div class="input-wrapper">
            <input
                nz-input
                placeholder="Confirma tu contraseña"
                formControlName="confirm_password"
                [type]="hideConfirmPassword ? 'password' : 'text'" />
            <i
                nz-icon
                nzType="{{ hideConfirmPassword ? 'eye-invisible' : 'eye' }}"
                (click)="toggleHideConfirmPassword()"></i>
        </div>
        <div *ngIf="registroForm.errors?.['mismatch']" class="error-message">
            <small>Las contraseñas no coinciden.</small>
        </div>
    </div>

    <div class="campo">
        <label for="first_name">Nombre:</label>
        <input
            nz-input
            placeholder="Nombre"
            type="text"
            formControlName="first_name" />
        <div
            *ngIf="
                registroForm.controls['first_name'].invalid &&
                registroForm.controls['first_name'].touched
            "
            class="error-message">
            <small
                *ngIf="registroForm.controls['first_name'].errors?.['required']"
                >El nombre es requerido.</small
            >
            <small
                *ngIf="
                    registroForm.controls['first_name'].errors?.['maxlength']
                "
                >El nombre no puede exceder los 40 caracteres.</small
            >
        </div>
    </div>

    <div class="campo">
        <label for="last_name">Apellido:</label>
        <input
            nz-input
            placeholder="Apellido"
            type="text"
            formControlName="last_name" />
        <div
            *ngIf="
                registroForm.controls['last_name'].invalid &&
                registroForm.controls['last_name'].touched
            "
            class="error-message">
            <small
                *ngIf="registroForm.controls['last_name'].errors?.['required']"
                >El apellido es requerido.</small
            >
            <small
                *ngIf="registroForm.controls['last_name'].errors?.['maxlength']"
                >El apellido no puede exceder los 40 caracteres.</small
            >
        </div>
    </div>

    <p class="texto-color" *ngIf="!imagenSeleccionada">Selecciona el color</p>

    <div class="colores" *ngIf="!imagenSeleccionada">
        <div
            *ngFor="let opcionColor of colores"
            nzSpan="2"
            class="cuadro"
            [class.seleccionado]="colorSeleccionado === opcionColor"
            (click)="seleccionarColor(opcionColor)"
            [style.background-color]="opcionColor"></div>
    </div>

    <button type="submit" [disabled]="!registroForm.valid">Registrarse</button>
</form>
