<!-- TODO: Personalizar -->
<!-- TODO: Hacer responsivo -->
<!-- [ngClass]="collapsed ? 'sidenav-collapsed': '' "> -->
<!--
<div class="sidenav" >
    <div class="logo-contenedor">
        <button class="logo" *ngIf >A</button>
        <div class="logo-text" *ngIf="collapsed">Angular</div>
        <button class="btn-close">
            <i class="fas fa-times colse-icon" ></i>
        </button>
    </div>
    <ul class="sidenav-nav" *ngFor="let data of navData">
        <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]">
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf>{{data.name}}</span>
            </a>
    </ul>
</div> -->

<ul nz-menu nzMode="inline" class="sider-menu">
    <li nz-menu-item routerLink="/proyectos">
        <span nz-icon nzType="folder"></span>
        <span> Proyecto</span>
    </li>
    <li nz-menu-item routerLink="/unidades">
        <span nz-icon nzType="star"></span>
        <span> Favoritos</span>
    </li>
    <li nz-menu-item routerLink="/archivos">
        <span nz-icon nzType="team"></span>
        <span> Personas</span>
    </li>
    <li nz-menu-item routerLink="/">
        <span nz-icon nzType="history"></span>
        <span> Documentos recientes</span>
    </li>
</ul>
