<!-- <nz-layout class="whole-layout">
    <app-encabezado></app-encabezado>
    <nz-layout>
        <nz-sider nzWidth="300px" nzTheme="light" nzCollapsible>
            <app-sidebar></app-sidebar>
        </nz-sider>
        <nz-layout class="inner-layout">
            <nz-content>
                <app-archivos></app-archivos>
            </nz-content>
        </nz-layout>
</nz-layout>  -->


<h1>Archivos</h1>

<div class="grid-container">
    <div class="encabezado" nz-row>
        <div class="titulo hide-on-small-3" nz-col nzFlex="1"></div>
        <div class="titulo" nz-col nzFlex="6">Nombre</div>
        <div class="titulo hide-on-small-3" nz-col nzFlex="6">Propietario</div>
        <div class="titulo hide-on-small-1" nz-col nzFlex="6">Etiquetas</div>
        <div class="titulo hide-on-small-2" nz-col nzFlex="6">Fecha</div>
        <div class="titulo" nz-col nzFlex="1"></div>
    </div>
    <app-archivo *ngFor="let archivo of archivos" [archivo]="archivo"></app-archivo>
</div>
