.file-card {
    width: 100%;
    border-top: 1px solid var(--bordes);
    padding: 10px 0;
}

.detalles {
    color: var(--negro);
}

.estrella-llena {
    font-size: 18px;
    cursor: pointer;
}

.estrella-vacia {
    font-size: 18px;
    cursor: pointer;
    color: var(--contentBg);
}

.estrella-vacia:hover {
    color: var(--negro);
}

.archivo-icono {
    font-size: 40px;
    padding-left: 15px;
}

.ant-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.columna-icono {
    justify-content: center;
    padding: 0;
}

.lista-etiquetas {
    justify-content: flex-start;
    overflow: scroll;
}

.etiqueta {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.texto {
    padding-left: 15px;
}

.usuario-imagen {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
}

@media (max-width: 1048px) {
    .hide-on-small-1 {
        display: none;
    }
}

@media (max-width: 820px) {
    .hide-on-small-2 {
        display: none;
    }
}

@media (max-width: 540px) {
    .hide-on-small-3 {
        display: none;
    }
}
