<div class="tarjeta" [formGroup]="unidadForm">
    <div class="container">
        <div class="left" (click)="fileInput.click()">
            <input
                type="file"
                #fileInput
                (change)="onFileSelected($event)"
                hidden />
            <div
                *ngIf="!imagenURL; else imagenPreview"
                class="image-upload-placeholder">
                Clic para añadir imagen
            </div>
            <ng-template #imagenPreview>
                <div class="image-container">
                    <div
                        class="image-overlay"
                        [style.background-color]="colorSeleccionado"
                        [style.opacity]="0.5"></div>
                    <img [src]="imagenURL" alt="Vista previa de la imagen" />
                </div>
            </ng-template>
        </div>

        <div class="right">
            <div>
                <p class="texto-indicador">Escribe un nombre para la Unidad</p>
                <input
                    type="text"
                    class="buscador"
                    placeholder="Nombre de la Unidad"
                    formControlName="nombreUnidad" />
            </div>

            <div>
                <p class="texto-indicador">Selecciona el color</p>
                <div class="colores">
                    <div
                        *ngFor="let opcionColor of colores"
                        nzSpan="2"
                        class="cuadro"
                        [class.seleccionado]="colorSeleccionado === opcionColor"
                        (click)="seleccionarColor(opcionColor)"
                        [style.background-color]="opcionColor"></div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" (click)="validarDatos()">
        {{ modo === 'editar' ? 'Editar unidad' : 'Crear unidad' }}
    </button>
</div>
