<div class="subtitulo">
    <div>Agregar líder</div>
    <span
        nz-popover
        nz-icon
        [nzPopoverContent]="contentTemplate"
        nzPopoverTrigger="click"
        nzPopoverPlacement="bottomLeft"
        nzType="plus-circle"
        nzTheme="fill">
    </span>
</div>
<app-permisos-mini-coordinador
    *ngFor="let lider of lideres"
    [coordinador]="lider"
    (removeItemClick)="onRemoveItemClick($event)" />

<ng-template #contentTemplate>
    <app-personas-buscador />
</ng-template>
