<div class="tarjeta">
    <form
        class="container"
        nz-form
        [formGroup]="validateForm"
        (ngSubmit)="crearProyecto()">
        <div class="left">
            <div class="left">
                <div (click)="fileInput.click()">
                    <nz-form-item>
                        <nz-form-label nzFor="imagen">
                            Imagen para el proyecto
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="imagenProyectoErrorTpl">
                            <input
                                formControlName="imagen"
                                type="file"
                                #fileInput
                                (change)="onFileSelected($event)"
                                accept=".png, .jpg, .jpeg"
                                hidden />
                            <div
                                *ngIf="imagenControl === ''; else imagenPreview"
                                class="imagen-upload"
                                [style.background-color]="
                                    validateForm.value.colorSeleccionado
                                "
                                [class.dirty]="
                                    validateForm.controls['imagen'].dirty
                                ">
                                <span
                                    nz-icon
                                    nzType="upload"
                                    nzTheme="outline"></span>
                                <div>Añadir imagen</div>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                    <ng-template #imagenPreview>
                        <div
                            class="contenedor-imagen"
                            [style.background-color]="
                                validateForm.value.colorSeleccionado
                            ">
                            <img
                                [src]="imagenControl"
                                alt="Vista previa de la imagen"
                                class="imagen-proyecto" />
                        </div>
                    </ng-template>
                    <ng-template #imagenProyectoErrorTpl>
                        Se necesita agregar una imagen
                    </ng-template>
                </div>
            </div>
            <app-permisos-lideres />
        </div>

        <div class="right">
            <nz-form-item>
                <nz-form-label nzFor="nombreProyecto">
                    Nombre para el proyecto
                </nz-form-label>
                <nz-form-control [nzErrorTip]="nombreProyectoErrorTpl">
                    <input
                        class="campo-texto"
                        type="text"
                        nz-input
                        formControlName="nombreProyecto"
                        placeholder="Nombre del proyecto" />
                    <ng-template #nombreProyectoErrorTpl>
                        Se necesita agregar un nombre
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-label nzFor="nombreProyecto">
                Selecciona un color
            </nz-form-label>
            <nz-form-item>
                <div class="colores">
                    <div
                        *ngFor="let opcionColor of colores"
                        nzSpan="2"
                        class="cuadro"
                        [class.seleccionado]="
                            validateForm.value.colorSeleccionado === opcionColor
                        "
                        (click)="seleccionarColor(opcionColor)"
                        [style.background-color]="opcionColor"></div>
                </div>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="nombreProyecto">
                    Descripción
                </nz-form-label>
                <nz-form-control [nzErrorTip]="descripcionErrorTpl">
                    <textarea
                        class="campo-texto"
                        nz-input
                        rows="4"
                        formControlName="descripcion"
                        placeholder="Añade una descripción breve del proyecto"></textarea>
                    <ng-template #descripcionErrorTpl>
                        Añade una descripción
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>
    </form>

    <div class="botones">
        <button class="boton-cancelar" nz-button (click)="handleCancel()">
            Cancelar
        </button>
        <button
            class="boton-crear"
            nz-button
            [nzLoading]="isLoading"
            [disabled]="isLoading"
            (click)="crearProyecto()">
            {{
                !this.proyectoOriginal
                    ? 'Crear proyecto'
                    : 'Actualizar proyecto'
            }}
        </button>
    </div>
</div>
