.logo {
    width: 120px;
    height: 31px;
    background: var(--icono_azul);
    margin: 16px 30px 16px 30px;
    float: left;
}

.ant-layout-header {
    padding: 0;
    line-height: 64px;
    background: var(--blanco);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ant-input-affix-wrapper {
    width: 40%;
}